@mixin navigation($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include navigation(mobile) {
    justify-content: space-between;
    .first {
      display: none;
    }
  }
}

.nav-main {
  @include navigation(mobile) {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 2rem;

  list-style: none;
}
.nav-link {
  text-decoration: none;
}
.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;

  .toggle-close {
    display: none;
  }

  @include navigation(mobile) {
    display: block;
  }
}
