@use "../util/colors" as color;
@use "../util/fonts" as font;
@mixin footer($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.footer {
  background: color.$very-dark-blue;
  display: flex;
  justify-content: center;
  // position
  position: relative;

  // responsive
  @include footer(mobile) {
    height: 33.438rem;

    // display
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1115px;

  // responsive
  @include footer(desktop) {
    margin: 3.75rem 0;
  }
  @include footer(mobile) {
    // display
    display: flex;
    flex-direction: column-reverse;
  }
}

.footer-logos {
  .footer-socials {
    display: flex;
    gap: 1rem;
  }
  .footer-socials img:hover {
    cursor: pointer;
    filter: invert(44%) sepia(64%) saturate(764%) hue-rotate(328deg)
      brightness(96%) contrast(97%);
  }
  //responsive
  @include footer(desktop) {
    .footer-socials {
      margin-top: 5.625rem;
    }
  }

  @include footer(mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .footer-logo {
      margin-top: 3.25rem;
    }
    .footer-socials {
      gap: 2.063rem;
    }
    .footer-socials img {
      height: 2.063rem;
      width: 2.063rem;
    }
  }
}

.footer-links {
  display: flex;
  .footer-list {
    list-style: none;

    .footer-link {
      color: color.$vary-light-gray;
      text-decoration: none;
    }

    .footer-link:hover {
      color: color.$bright-red;
    }
  }

  .footer-list li {
    margin: 1rem 0;
  }

  // responsive
  @include footer(mobile) {
    margin-top: 3.75rem;
    margin-bottom: 3.438rem;
  }
}
// email form input
input[type="email"] {
  max-width: 240px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
}
.go {
  background: color.$bright-red;
  border-radius: 50px;
  border: none;
  color: color.$vary-light-gray;
  cursor: pointer;
  width: 80px;
  padding: 0.5rem;
}
.go:active {
  transform: scale(0.98);
}
.go:hover {
  background: #f98f75;
}

.copyright {
  color: color.$vary-light-gray;

  // responsive
  @include footer(desktop) {
    margin-top: 5.625rem;
  }
  @include footer(mobile) {
    position: absolute;
    bottom: 0;
  }
}
