@use "../util/colors" as color;
@use "../util/fonts" as font;
@mixin footer($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
.copyright {
  color: color.$vary-light-gray;
}
.footer {
  background: color.$very-dark-blue;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include footer(mobile) {
    height: 540px;
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 1115px;
  @include footer(mobile) {
    flex-direction: column-reverse;
  }
}
.footer-socials {
  display: flex;
  gap: 0.8rem;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  @include footer(desktop) {
    gap: 220px;
  }
}
.footer-list {
  list-style: none;
}
.footer-list li {
  margin: 1rem 0;
}
.footer-link {
  font-size: 14px;
  text-decoration: none;
  color: color.$vary-light-gray;
}

.email-form-container {
  @include footer(mobile) {
    margin-top: 3.125rem;
  }
}

input[type="email"] {
  max-width: 240px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
}
.go {
  background: color.$bright-red;
  border-radius: 50px;
  border: none;
  color: color.$vary-light-gray;
  cursor: pointer;
  width: 80px;
  padding: 0.5rem;
}
.go:active {
  transform: scale(0.98);
}
