@use "../util/fonts" as font;
@use "../util/colors" as color;

body {
  color: color.$dark-grayish-blue;
  font-family: font.$font-family;
  font-size: font.$font-size;
}

.get-started {
  background: color.$bright-red;
  border-radius: 50px;
  color: color.$vary-light-gray;
  display: block;
  font-size: 12px;
  margin: 2.813rem 0;
  padding: 0.7rem;
  text-decoration: none;
  text-align: center;
  width: 120px;
}

.hidden {
  display: none;
}