@use "../util/fonts" as font;
@use "../util/colors" as color;

body {
  color: color.$dark-grayish-blue;
  font-family: font.$font-family;
  font-size: font.$font-size;
}

.get-started {
  text-decoration: none;
}
