@use "../util/colors" as color;
@use "../util/fonts" as font;

@mixin testimonials($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

.testimonials-question {
  color: color.$dark-blue;
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 70px;
}

.testimonials {
  display: flex;
  gap: 2rem;
  margin-top: 50px;
}

.testimonials-profile {
  background: color.$vary-light-gray;
  padding: 2rem;
}

.testimonials-profile img {
  display: block;
  margin: auto;
  height: auto;
  width: 70px;
  position: relative;
  transform: translateY(-100%);
}
.testimonials-profile:last-child {
  display: none;
}

.testimonials-name {
  color: color.$dark-blue;
  font-size: 1rem;
  margin-top: -45px;
  margin-bottom: 25px;
}
.testimonials-testimony {
  font-size: 1rem;
}

// .testimonials-mobile
.testimonials-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: 500px;
  padding: 0;
  font-size: 14px;
  position: relative;
}

.card {
  height: 250px;
  width: 340px;
  padding: 2rem;
  // layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: color.$vary-light-gray;
}

.testimonials-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.profile {
  height: 72px;
  width: 72px;
  position: absolute;
  top: -2.5rem;
}

// radio button
.container-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container-radio input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background: color.$bright-red;
}
