@use "../util/colors" as color;
@use "../util/fonts" as font;

@mixin testimonials($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

.testimonials {
  display: flex;
  gap: 2rem;
}

.testimonials-question {
  margin-top: 80px;
  margin-bottom: 70px;

  color: color.$dark-blue;
}

.testimonials-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: 500px;
  padding: 0;
  font-size: 14px;
  position: relative;
}

.card {
  height: 250px;
  width: 340px;
  padding: 2rem;
  // layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: color.$vary-light-gray;
}

.testimonials-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.profile {
  height: 72px;
  width: 72px;
  position: absolute;
  top: -2.5rem;
}

input[type="radio"] {
  border: none;
  accent-color: red;
}

.testimonials-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: color.$vary-light-gray;

  height: 220px;

  position: relative;

  .testimonials-content {
    margin: 1rem;
  }

  .testimonials-name {
    font-size: font.$font-size;
    color: color.$dark-blue;
    margin: 30px 0 25px;
  }

  .testimonials-testimony {
    margin-bottom: 45px;
  }
}

.testimonials-profile img {
  display: block;
  margin: auto;
  height: auto;
  width: 75px;
  position: absolute;
  inset: -14rem 0 0 0;
}

.testimonials-profile:last-child {
  display: none;
}
