@use "../util/colors" as color;
@use "../util/fonts" as font;

.testimonials-question {
  margin-top: 80px;
  margin-bottom: 70px;
}

.testimonials-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: 500px;
  padding: 0;
  font-size: 14px;
  position: relative;
}

.card {
  height: 250px;
  width: 340px;

  // layout
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background: color.$vary-light-gray;
}

.profile {
  height: 72px;
  width: 72px;
  position: absolute;
  top: -2.5rem;
}

input[type="radio"] {
  border: none;
  accent-color: red;
}

.testimonials-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-profile:last-child {
  display: none;
}
